<!DOCTYPE html>
<html>
  <head>
    <title>Influence</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>


<script>
  var mockDataForThisTest = "json=" + encodeURI(JSON.stringify([
  {  
    Name:"Nextgen",
    Product:
    {  
      Name:"Appointment",
      Workflow:
      {  
        Name:"Create Appointment",
        Functional:
        {
          id: 1,
          impact: "App",
          product: "PM",
          Module:"a",
          Complexity:"High"
        },
        Database:
        {
          id: 1,
          impact: "Fields",
          product: "Stored Procedure",
          Module:"a",
          Complexity:"High"
        }
      }
    }
  }
]));

var app = angular.module('myApp', []);
function FunctionalCtrl($scope, $http) {

    $scope.Functional = [];

    $scope.loadFunctional = function() {
        var httpRequest = $http({
            method: 'POST',
            url: '/echo/json/',
            data: mockDataForThisTest

        }).success(function(data, status) {
            $scope.Functional = data;
        });
    };
}

</script>
</head>
<body>
	<div ng-app="myApp">
		<div ng-controller="FunctionalCtrl">
			<p>    Click <a ng-click="loadFunctional()">here</a> to load data.</p>
			  <table class="table">
				  <tr>
					  <th>impact</th>
					  <th>product</th>
					  <th>Module</th>
					  <th>Complexity</th>
				  </tr>
				  <tr ng-repeat="func in Functional">
					  <td>{{func.Product.Workflow.Functional.impact}}</td>
					  <td>{{func.Product.Workflow.Functional.product}}</td>
					  <td>{{func.Product.Workflow.Functional.Module}}</td>
					  <td>{{func.Product.Workflow.Functional.Complexity}}</td>
				  </tr>
			  </table>
		</div>
	</div>
</body>
</html>