//
// app.template.html file
//
 
<div #application>
<iui-treeview [items]="items" [appRef]="applicationRef" #treeview>
<template let-item>
<div (mouseenter)="hoverItem=item" (mouseleave)="hoverItem=null">
<span [ngClass]="item.icon"></span>
<span *ngIf="item!=editItem">{{item.text}}</span>
<input *ngIf="item==editItem" type="text" [(ngModel)]="item.text" (keydown)="editorKeyDown($event)" (blur)="editorLostFocus()" [iuiFocus]="editorFocused" onFocus="this.setSelectionRange(0, this.value.length)" />
<div class="toolbar" *ngIf="item==hoverItem">
<span class="item-button item-button-edit" (click)="showEditor(item)"></span>
</div>
</div>
</template>
</iui-treeview>
</div>